<h1><%= @user.username %></h1>
	
<p>
<%= pluralize(@user.ratings.count, 'ratings') %>, average <%= @user.average_rating %>
</p>

<ul>
<% @user.ratings.each do |r| %>
  <li><%= r.score %> <%= link_to 'delete', r, method: :delete %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
