<h1><%= @user.username %></h1>
	
<p>
<%= pluralize(@user.ratings.count, 'ratings') %>, average <%= @user.average_rating %>
</p>

<ul>
<% @user.ratings.each do |r| %>
  <li>
    <%= r %>
    <% if @user == current_user %>
      <%= link_to 'delete', r, method: :delete %>
    <% end %>
  </li>
<% end %>
</ul>

<%= link_to 'Back', users_path %>
<% if @user == current_user %>
  | <%= link_to 'Edit', edit_user_path(@user) %>
  <br />
  <%= link_to 'Remove account', @user, method: :delete, data: { confirm: "Sure?" } %>
<% end %>
