<p id="notice"><%= notice %></p>

<p>
  <h2><%= @brewery.name %></h2>
</p>

<p>
  <i>Established in <%= @brewery.year %></i>
</p>

<p>
  <strong>No. of beers: </strong><%= @brewery.beers.count %>
</p>

<p>
  <% @brewery.beers.each do |b| %>
    <%= link_to b.name, b %>
  <% end %>
</p>

<p><%= link_to 'list of beers', beers_path %></p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
