<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= link_to (Brewery.find_by id:@beer.brewery.id).name, brewery_path(@beer.brewery_id) %>
</p>

<% if @beer.ratings.empty? %>
  <% count = "no" %>
  <% avg = "" %>
<% else %>
  <% count = Rating.where(beer_id:@beer.id).count %>
  <% avg = ", average " + @beer.average_rating.to_s %>
<% end %>
<p>
   Has <%=count%> ratings<%=avg%>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>

<p><%= link_to 'list of breweries', breweries_path %></p>
